* {
  padding: 0;
}

.btn {
  cursor: pointer;
}

/*banner related styles*/

.header {
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/BannerImage.png");

  border-radius: 16px;
  width: 1880px;
  height: 900px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  text-align: center;
}

.banner-title {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  padding-top: 18%;
  font-family: "Merriweather", serif;
}

.banner-description {
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  line-height: 95px;
  /* padding-top: 75px; */
  padding-left: 550px;
  padding-right: 550px;
  margin-top: 16px;
  font-family: "Merriweather", serif;
}

/*Deals related styles*/
.deals {
  display: inline-block;
  padding-left: 550px;
  padding-right: 550px;
  margin-top: 120px;
  text-align: center;
  margin-bottom: 120px;
}

.deals-title {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  position: relative;
  top: 36px;
}

.deals-are-better {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 16px;
}

.deals-cat {
  color: #070211;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 48px;
}

/*This is the styles related to party*/
.party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  width: 1880px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 120px;
}

.party-element-container {
  display: flex;
  justify-content: space-between;
}

.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 84px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 15px;
  margin-top: 280px;
  margin-left: 190px;
  margin-right: 402px;
}

.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 190px;
  margin-right: 552px;
  margin-top: 24px;
}

.btn-join {
  border-style: none;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  /* padding-left: 238px;
  padding-top: 48px; */
  margin-left: 238px;
  margin-top: 48px;
}

.party-greeting-image {
  position: relative;
  top: 110px;
  left: -200px;
}

/*schedule part style*/
.schedule {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1890px;
  height: 700px;
  border-radius: 16px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 120px;
}

.schedule-container {
  padding-top: 150px;
}

.schedule-text {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.btn-schedule {
  display: inline-flex;
  border-radius: 8px;
  border-style: none;
  background: #ff0000;
  margin-top: 48px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-schedule-text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

.schedule-container span {
  color: #f00;
}

/*Best offer section styles*/
.best-offer-container {
  display: flex;
  text-align: left;
  width: 1920px;
  height: 700px;
}

.best-offer-part1 {
  margin-top: 60px;
  margin-left: 140px;
}

.best-offer-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  top: 16px;
}

.best-offer-subtitle {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}

.best-offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-right: 250px;
}

.best-offer-part2 {
  position: relative;
  right: 180px;
  top: 50px;
}

.best-offer-part2 img {
  position: relative;
  right: -18px;
  top: 16px;
}

.img-border {
  border-radius: 50%;
  border: 15px solid #f00;
  width: 403px;
  height: 403px;
  flex-shrink: 0;
}

.best-offer-part3 {
  margin-top: 60px;
  margin-right: 200px;
}

.best-offer-year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 250px;
  margin-bottom: 16px;
}

.best-offer-description-part3 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 26px;
}

/*holiday sale style*/

.holiday-sale {
  width: 1920px;
  margin-bottom: 120px;
}

.holiday-title-description {
  text-align: center;
}

.starting-line {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  top: 50px;
}

.holiday-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 24px;
}

.holiday-title span {
  color: #f00;
}

.holiday-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  margin-left: 320px;
  margin-right: 320px;
  margin-bottom: 64px;
}
.holiday-sale-posters {
  height: 800px;
}
.rectangle-1-img {
  position: relative;
  left: 1471px;
  top: 5px;
}

.group-44-mg {
  position: relative;
  left: 857px;
  top: -50px;
}

.rectangle-2-img {
  width: 1900px;
}

.group-75-img {
  position: relative;
  top: -750px;
}

/*best gifts styles*/
.best-gifts {
  width: 1920px;
  width: fit-content;
  margin-bottom: 120px;
}

.best-gifts-texts {
  margin-right: 564px;
  margin-left: 150px;
}

.best-gifts-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: 26px;
}

.best-gifts-sub-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 22px;
}

.best-gift-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
  margin-right: 205px;
}

.best-gifts-item-img {
  display: inline-block;
  margin-left: 150px;
}

.best-gifts-item-img img {
  height: 550px;
  width: 524px;
  margin: 10px;
}

.gift-items:hover {
  transform: scale(1.5);
}

/*Subscribe section*/
.subscribe-newsletter {
  width: 1630px;
  height: 716px;
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.05) 0%,
    rgba(255, 0, 0, 0.05) 100%
  );
  background-size: cover;
  border-radius: 16px;
  margin-left: 150px;
  margin-bottom: 120px;
}

.subscribe-newsletter-container {
  margin-top: 80px;
  text-align: center;
}

.subscribe-newsletter-container > img {
  margin-top: 80px;
  height: 200px;
  width: 200px;
  margin-bottom: 40px;
}

.subscribe-newsletter-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 22px;
}

.subscribe-newsletter-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
  margin-left: 382px;
  margin-right: 382px;
}

input {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  padding: 18px 102px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-style: none;
  height: 38px;
  outline: none;
}

.newsletter-subscribe {
  /* border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; */
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 190px;
  height: 72px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 50px;
}

/*footer styles*/
.footer-container {
  height: 759px;
  background-color: #070211;
  width: auto;
  position: relative;
  bottom: 0;
  left: -10px;
}

.footer-address-contact {
  display: flex;
  justify-content: space-between;
}

.footer-contact-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.address-position {
  margin-left: 140px;
  margin-top: 120px;
}
.contact-position {
  margin-top: 105px;
  padding-right: 300px;
}

.social-media-icons {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: block;
  padding-top: 20px;
  padding-left: 550px;
  margin-left: 155px;
  margin-right: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.social-media-icons img {
  margin: 24px;
}

.copyrights-unsubscribe {
  display: flex;
  justify-content: space-between;
}

.copyright-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.web-position {
  position: relative;
  top: -75px;
  left: 5px;
}

.call-icon {
  position: relative;
  top: 150px;
  left: -35px;
}

.web-icon {
  position: relative;
  left: -33px;
  top: -5px;
}
